@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: "YesevaOne";
    src : url("./../assets/fonts/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: "FuturaDemiC";
    src : url("./../assets/fonts/FuturaDemiC.ttf");
}

$base-font: 'Roboto';
$title-padding: 3em;

